body {
  text-align: center;
}

.color {
  align-items: center;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  display: inline-block;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}

#pixel-board {
  width: fit-content;
  margin: auto;
}

.pixel {
  width: 40px;
  height: 40px;
  margin: 0px;
  border: 1px solid black;
}

ul {
  padding: 0;
  list-style: none;
  display: table;
  margin: auto;
}

li {
  display: table-cell;
}

#butao-clear {
  margin: 10px;
}

#board-size {
  width: 40px;
}

#input-pixels {
  margin: 10px;
}

header {
  border: 1px solid black;
  border-radius: 25px;
  background-color: rgb(104, 169, 126);
}
.painel {
  border: 1px solid black;
  padding: 10%;
  margin: auto;
  background-color: rgb(42, 91, 70);
}
main {
  padding: 10%;
}