body {
  text-align: center;
}

.color {
  align-items: center;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  display: inline-block;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

#pixel-board {
  width: fit-content;
  margin: auto;
}

.pixel {
  width: 40px;
  height: 40px;
  margin: 0px;
  border: 1px solid black;
}

ul {
  padding: 0;
  list-style: none;
  display: table;
  margin: auto;
}

li {
  display: table-cell;
}

#butao-clear {
  margin: 10px;
}

#board-size {
  width: 40px;
}

#input-pixels {
  margin: 10px;
}